* {
    box-sizing: border-box;
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #171427;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

footer {
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    color: #171427; 
}

.header-footer-container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 10px;
    justify-content: center;
}

.footer-content {
    text-align: center;
    font-size: 20px;
    width: 100%;
    margin: auto;
    padding: 10px 0; 
    font-weight: 100;
}

.footer-link {
    color: #171427; 
    text-decoration: none; 
    margin-left: 10px; 
}

.logo {
    width: auto;
    height: 48px;
    margin-right: 10px;
}

.brand-name {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}

.full-width-hero {
    width: 100%;
    background-color: #171427; 
}

.banner-box {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    color: #fff;
}

.banner-left, .banner-right {
    padding: 10px;
}

.banner-left {
    width: 60%;
}

.banner-right {
    width: 38%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.banner-right .slogan {
    font-size: 26px;
    line-height: 1.4;
}

.banner-right a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: #357ABD;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 24px;
    line-height: 1.4;
    white-space: nowrap;
}

.banner-right a:hover {
    background-color: #285A8E;
}

.main-image {
    width: 100%;
    border-radius: 0px; 
}


.banner-left .main-image {
    width: 100%;
}

.section-header {
    font-size: 40px; 
    color: #fff; 
    margin-bottom: 15px; 
    font-weight: bold; 
}

.additional-text {
    font-size: 26px; 
    margin-top: 20px; 
    color: #fff; 
}

.chrome-extension-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    gap: 8px; 
    background-color: #357ABD;
    color: #fff;
    padding: 10px 20px; 
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    margin-top: 20px;
    
    /* Static sizes */
    font-size: 16px; 
    width: 400px; 
    height: 50px; 
}

.chrome-extension-link:hover {
    background-color: #285A8E;
}


.chrome-extension-link:hover {
    background-color: #285A8E;
}

.chrome-icon {
    width: 50px; 
    height: 50px; 
    vertical-align: middle; 
}

.no-user-info {
    color: #fff; 
    font-size: 20px; 
    margin-top: 20px;
}

/* Responsive */
@media (max-width: 1024px) {
    .header-footer-container, .banner-box {
        width: 90%; 
    }

    .banner-right .slogan, .banner-right a {
        font-size: 20px; 
    }
}

@media (max-width: 768px) {
    .banner-box {
        flex-direction: column;
        padding: 20px 10px; 
    }

    .banner-left, .banner-right {
        width: 100%; 
        padding: 0;
    }

    .banner-right {
        margin-top: 20px; 
    }

    .banner-right .slogan, .banner-right a {
        text-align: center; 
    }
}

@media (max-width: 480px) {
    .header-footer-container, .banner-box {
        width: 95%; 
    }

    .banner-right .slogan, .banner-right a {
        font-size: 18px; 
    }

    .banner-right a {
        padding: 8px 16px; 
    }
}

/* features section */
.features-section-bg {
    background-color: #f0f0f0;
}

.features-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin: auto;
    max-width: 1400px;
}

.feature-box {
    width: calc(25% - 40px);
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
    text-align: center;
}

.feature-box img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .feature-box {
        width: calc(50% - 40px); 
    }
}

@media (max-width: 480px) {
    .features-section {
        flex-direction: column;
        align-items: center;
    }

    .feature-box {
        width: 100%;
        margin: 10px 0;
    }
}

/* demo seciton */
.demo-section-bg {
    background-color: #171427;
    padding: 20px 0;
}

.demo-section {
    max-width: 1400px;
    margin: auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
}

.demo-header {
    color: #357ABD;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.demo-description {
    color: #171427;
    margin-bottom: 30px;
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.demo-content {
    margin-top: 20px;
}

.demo-link {
    display: inline-block;
    margin: 10px;
    color: #171427;
    text-decoration: none;
    padding: 15px 30px;
    border: 2px solid #FF0000; 
    border-radius: 5px; 
    transition: background-color 0.3s ease;
    font-size: 18px;
    font-weight: bold;
}

.demo-link:hover {
    background-color: #f8f8f8; 
}

/* hover window */
#linkHoverInfoWindow {
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, 0.90);
    color: white;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
    font-size: 14px;
    z-index: 10000;
    display: none;
    max-width: 300px;
    word-wrap: break-word;
    border: 1px solid #ccc;
    position: absolute; 
}

.highlighted-domain {
    font-weight: bold;
    color: #007bff; 
}